<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF-8">
    <title>빵사세요~</title>
</head>
<body style = "background-color : rgb(236, 207, 17)">
<form method = "Post" action = "/bread/answer">
    빵종류 : <input type = "text" name = "breadname"><br>
    1개당 가격 : <input type = "number" name = "price"><br>
    구입 개수 : 
    <select name = "num">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select>개<p>
    <input type = "submit" value = "구매">
</form>

</body>
</html>