<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>시간표</title>
    <style>
        mark { background-color: yellow;}
        #bpink { background-color: pink;}
        .baqua { background-color: aqua;}
    </style>
</head>
<body>
    <h2><mark>시간표</mark></h2>
    <table border = "1">
        <tr id = "bpink"><th>교시<th>월<th>화<th>수
        <tr><th class = "baqua">1<td>이산수학<td rowspan = "2">수영<td rowspan="3">수학 x<sup>2</sup>+y<sup>2</sup>=1
        <tr><th class = "baqua">2<td>자바프로그래밍
        <tr><th class = "baqua">3<td>파일처리론<td>고전읽기
        <tr><th class = "baqua">4<th colspan="3">점심 및 휴식 시간입니다!
        <tr><th class = "baqua">5<td>대학수학<td>미술<td>봉사
    </table>
    
</body>
</html>