<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>음식</title>
    <link rel = "stylesheet" href = "/surveystyle.css">
</head>
<body>
    <h2>좋아하는 음식</h2>
    <form method = "post" action = "/season">
        <input type = "radio" name = "food" value ="한식">한식<br>
        <input type = "radio" name = "food" value = "양식">양식<br>
        <input type = "radio" name = "food" value = "중식">중식<br>
        <input type = "radio" name = "food" value = "일식">일식<br>
        <input type = "submit" value= "선택"> 
    </form>
    
</body>
</html>